.tq-search {
  &__field {
    box-sizing: border-box;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    border: 1px solid white;

    padding: 0.4rem 1rem;
    margin: 0;

    background-color: transparent;

    border: 1px solid white;

    font-size: 1.3rem;
    font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;

    outline: none;

    &--suggest {
      position: static;

      overflow: hidden;

      background-color: white;

      color: var(--nobel, silver);

      & span:not(:empty) + .tq-search__hint {
        opacity: 1;
      }
    }
  }
  &__hint {
    position: absolute;

    top: 0;
    right: 3rem;

    opacity: 0;

    transition: opacity 200ms;

    color: var(--alabaster, gray);
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 2.5rem;
  }
}
