.tq-search {
  &__field {
    box-sizing: border-box;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;

    border: 1px solid #fff;

    padding: 0.4rem 1rem;
    margin: 0px;

    background-color: transparent;

    border: 1px solid #fff;

    font-size: 1.3rem;
    font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;

    outline: none;

    &--suggest {
      position: static;

      color: #ccc;

      overflow: hidden;

      background-color: #fff;

      /* &:after { */
      /*   font-size: 0.9rem; */
      /*   content: 'press \21E5  to open'; */
      /* } */
      & span {
        &:not(:empty):after {
          opacity: 1;
          color: #cdcdcd;
          font-size: 1rem;
          margin-left: 1rem;
          content: 'press \21e5  to open';
        }
      }
    }
  }
}
