:host {
  display: block;
  contain: content;
}
.tq-search {
  &__field {
    box-sizing: border-box;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    border: 1px solid white;

    padding: 0.4rem 1rem;
    margin: 0;

    background-color: transparent;

    box-shadow: 0px 0px 10px  var(--alabaster, red);

    font-size: 1.3rem;
    font-family: var(--fontFamily, Arial);
    font-weight: 200;

    outline: none;

    &::placeholder {
      color: var(--nobel, red);
    }
    &--suggest {
      position: static;

      overflow: hidden;

      background-color: white;

      color: var(--nobel, silver);

      & span:not(:empty) + .tq-search__hint {
        opacity: 1;


        transition: opacity 300ms ease-out;
        transition-delay: 300ms;
      }
    }
  }
  &__hint {
    padding-left: 0.5rem;

    opacity: 0;

    color: var(--tundora, red);
    font-size: 0.8rem;
    font-weight: 300;
    vertical-align: middle;
  }
}
